@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light+Two&display=swap');

:root {
    --color-1: #F9F5F0;
    --color-2: #fbfbff;
    --color-3: #e3d5ca;
    --color-4: #d5bdaf;
    --color-5: #a75857;
    --color-6: #6a040f;
    --color-7: #8a2d37;
    --color-8: #ebd7c3;
    --color-9: #f9eded;
    --color-0: #f0d5cc;
    --color-11:#ea638c;
    --color-12:#d791a5;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

body {
    color: var(--color-5);
    background-color: var(--color-1);
    font-family: "Playfair Display";
}

.center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
  }

hr {
    border-color: var(--color-5);
    margin: 5px
}

.fancy {
    font-family: Annie Use Your Telescope
}

.text-change {
    text-align: center;
    color: var(--color-5);
}

nav {
    text-align: right;
}

nav a {
    color: var(--color-7);
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block

}

div>p>a:visited {
    color: var(--color-11)
}

div>p , div>h3 {
    text-align: center;

}

input {
    background-color: var(--color-1);
    color: var(--color-6);
    border-radius: 5px;
    font-size: 15px;
    margin: 3px;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: var(--color-0);
    border-radius: 10px;

}

nav a:hover {
    background-color: var(--color-3);
    color: var(--color-6)
}

a:active {
    color: var(--color-11)
}

p:nth-child(odd) {
    color:#b68c62
}


.alink {
    color: var(--color-12)
}

.contact-link {
    background-color: var(--color-7);
    border-radius: 32px;
    color: var(--color-8);
}

.contact-link:hover {
    color: var(--color-6);
}

.style-change {
    background-color: var(--color-4);
    color: var(--color-2);
}

#header1 {
    text-align: center;
    font-size: 40px;
    background-color: var(--color-9);
    padding: 10px;
    margin: 5px 0px 0px 0px
}

#header2 {
    text-align: center;
    font-size: 40px;
    background-color: var(--color-8);
    color: var(--color-5);
    padding: 10px;
    margin: 5px 0px 0px 0px
}

#header3 {
    text-align: center;
    font-size: 40px;
    background-color: var(--color-3);
    color: var(--color-5);
    padding: 10px;
    margin: 5px 0px 0px 0px
}

#header4 {
    text-align: center;
    font-size: 40px;
    background-color: var(--color-0);
    color: var(--color-5);
    padding: 10px;
    margin: 5px 0px 0px 0px
}

.layout {
    display: flex;
    gap: 20px;
    min-height: 100vh; /* sets the height to the entire view */
  }
  
  .sidebar {
    margin: 0px 0px 0px 0px
  }
  
  .main-content {
    flex: 1;  /* fill remaining space */
    padding: 20px;
    margin: 0px 0px 0px 0px
    
  }
  
