@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light+Two&display=swap');

:root {
    --color-1: #F9F5F0;
    --color-2: #FFE1E0;
    --color-3: #e3d5ca;
    --color-4: #d5bdaf;
    --color-5: #a75857;
    --color-6: #6a040f;
}

body {
    color: var(--color-5);
    background-color: var(--color-1);
    font-family: "Playfair Display";
}

hr {
    border-color: var(--color-5);
}

.fancy {
    font-family: Annie Use Your Telescope
    var(--color-3)
}
.text-center {
    text-align: center;
    color: var(--color-5)
}

#header1 {
    text-align: center;
}